include layout 

block content
  h1= user.name
  table
    tr
      td 
        strong 나이
      td= user.age
    tr
      td 
        strong 결혼 여부
      td= user.married ? "O" : "X"
    tr
      td
        strong 설명
      td= user.comment
  h2 작성한 방명록
  table.comment-table
    thead
      tr
        th 내용
        th 작성일
    tbody
      each comment in comments
        tr
          td= comment.comment
          td= comment.created_at.toDateString()
      